@media (max-width: 768px) {
  .discoverSearchInput{
    .ivu-input{
      height: 40px;
      //padding: 6px 100px 6px 20px;
    }
    .ivu-input:focus{
      box-shadow: none;
      border-radius: 10px;
      border: 1px solid var(--primary-color);
      //padding: 6px 99px 8px 19px;
    }
  }
  .commonRadio{
    .ivu-radio-default{
      margin-bottom: 10px;
    }
  }
  .commonCheckBox{
    .ivu-checkbox-default{
      margin-bottom: 10px;
    }
  }
}
