.groupSettingModal{
  .footerBtn{
    height: 42px;
    line-height: 42px;
    width: 110px;
  }
  .ivu-modal-body{
    padding: 30px;
  }
  .nameBox{
    .ivu-input{
      height: 30px;
      line-height: 30px;
      padding: 0 12px;
    }
  }
  .ivu-input{
    height: 30px;
    line-height: 30px;
    padding: 0 12px;
  }
  .contentContainer{
    .ivu-checkbox{
      margin-right: 4px;
    }
  }
}
