#tenderDetailPage{
  .navIcons{
    .ivu-select-dropdown{
      padding: 0;
      border-radius: var(--border-radius-base);
      margin-top: 19px;
    }
    .shareLinks{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-gap: 36px;
      padding: 24px 30px;
      a{
        width: 30px;
        height: 30px;
      }
    }
  }

  .timelineItem{
    .ivu-timeline-item-head-custom{
      left: 20px;
      background-color: transparent;
    }
  }
  .ivu-timeline-item-tail{
    left: 40px;
    top: 30px;
  }
  .transLangSelector{
    .ivu-select-selection{
      border-radius: var(--border-radius-large);
      height: inherit;
    }
  }
  .descriptionBox .descriptionRightContent .stateCard {
    .ivu-progress-inner{
      border: 1px solid;
      background-color: var(--bg-color1);
    }
  }
  .descriptionBox .descriptionRightContent {
    .bidAward .ivu-progress-inner{
      border-color: var(--bid-award-color);
    }
    .bidCall .ivu-progress-inner{
      border-color: var(--bid-call-color);
    }
    .bidOnGo .ivu-progress-inner{
      border-color: var(--bid-ongo-color);
    }
    .bidAbandoned .ivu-progress-inner{
      border-color: var(--bid-abandoned-color);
    }
  }
  .announcementBox .langChangeBtn {
    .ivu-dropdown-rel{
      display: flex;
    }
  }
  .documentsBox{
    .docItemMore{
      .ivu-dropdown-item {
        img{
          width: 18px;
          height: 18px;
        }
      }
    }

  }
}
.langListModal{
  .ivu-modal-body{
    padding: 20px;
  }
}
