#translatePage{
  .languageSelector .selector{
    .ivu-select-selection{
      border: none;
      background: transparent;
      box-shadow: none;
    }
  }
  .chat-container{
    .input-container .input{
      .ivu-input{
        background: transparent;
        border: none;
        resize: none;
      }
      .ivu-input:focus{
        box-shadow: none;
      }
    }
  }
}
